// global/variables

// global body vars
$global-body-fontsize: 16px;

// global colors
$color-primary: #FD4D62;
$color-primary-darken: #FE697A;
$color-shadow: rgba(0,0,0,0.4);

// global grid variables
$global-margin:1em;

$global-padding:1em;

$global-grid-cutter: 1em;
